* {
  padding: 0px;
  margin: 0px;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Body  */

body {
  font-family: "Inter", sans-serif;
  background-color: #f6f6f6;
}

.container {
  max-width: 1320px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Header */

.header {
  color: #fff;
  background-color: #000;
  /* margin-bottom: 130px; */
  position: sticky;
  top: 0;
  padding: 20px 0;
  width: 100%;
}

.header a {
  color: #fff;
}

/* Nav  */

.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}

.logo {
  max-width: 60px;
}

.navlist {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.navlist a {
  position: relative;
}

.navlist a.active::after {
  width: 100%;
}
.navlist a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(0, 89, 255);
  transition: 0.3s;
}

.navlist a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* .checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
} */

/* Header-content  */

.home {
  background-color: #000000;
  min-height: 100vh;
  color: #fff;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.home-title {
  max-width: 700px;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.home-p {
  max-width: 428px;
  color: gray;
  margin-bottom: 60px;
  font-size: 16px;
}

.home-btn {
  display: inline-block;
  /* border: 4px solid rgb(0, 89, 255); */
  background-color: rgb(0, 89, 255);
  border-radius: 20px;
  padding: 25px 45px;
  font-size: 30;
  font-weight: 700;
  color: #fff;
}

.home-btn:hover {
  background-color: rgba(0, 89, 255, 0.9);
  transition: color 2s ease-in;
}

.home-btn:active {
  position: relative;
  top: 1px;
}

.home-content-img {
  max-width: 619px;
  border-radius: 40px;
}

/* Main  */
/* section {
  min-height: 100vh;
} */

/* About me */

.about-me {
  padding-top: 92px;
}

/* .container-white {
    background-color: #fff;
    border-radius: 60px;
    padding: 40px;
    margin-top: 100px;
  } */

.about-me-h2 {
  font-size: 50px;
  text-align: center;
  max-width: 372px;
  margin: 0 auto;
  padding: 26px 50px;
  background-color: #fff;
  color: rgb(0, 89, 255);
  border-radius: 30px;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 60px;
  padding: 40px 164px 40px 40px;
  margin: 40px 0px 100px 0px;
}

.about-me-img {
  width: 500px;
  border-radius: 40px;
}

h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.about-me-p {
  font-size: 16px;
  max-width: 450px;
}

/* Skills */

.skills {
  background-color: #fff;
  padding-top: 92px;
  padding-bottom: 10px;
}

.skills-h2 {
  font-size: 50px;
  text-align: center;
  max-width: 372px;
  margin: 0 auto;
  padding: 26px 50px;
  background-color: rgb(0, 89, 255);
  color: #fff;
  border-radius: 30px;
}

.skills-content {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin: 40px 0 90px 0;
}

.ill {
  background-color: #f6f6f6;
  width: 342px;
  border-radius: 60px;
}

.ill-icon {
  margin: 50px;
  max-width: 242px;
}

.ps {
  background-color: #f6f6f6;
  width: 342px;
  border-radius: 60px;
}

.id {
  background-color: #f6f6f6;
  width: 342px;
  border-radius: 60px;
}

.xd {
  background-color: #f6f6f6;
  width: 342px;
  border-radius: 60px;
}

/* portfolio */

.portfolio {
  padding-top: 92px;
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
  background-color: #fff;
  border-radius: 60px;
  padding: 50px;
  margin: 40px 0 100px 0;
}

/* .card {
  width: 100%;
  height: 100% ;
  padding: ;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before{
  opacity: 1;
}

.card .portfolio-a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */

/* .portfolio-a {
  background-color: aqua;
  z-index: 1000;
} */

/* .portfolio-a:hover {
  background-color: #000;
  z-index: 1000;
  border-color: #000;
  transition: color 2s ease-in;
} */
/* 
.portfolio-a:active {
  position: relative;
  top: 1px;
} */

.portfolio-img {
  border-radius: 30px;
  width: 400px;
}

/* contacts */

.contacts {
  background-color: #fff;
  padding: 12px 0 100px;
}

.contacts-h2 {
  font-size: 50px;
  text-align: center;
  /* max-width: 372px; */
  margin-top: 70px;
  padding: 26px 0px;
  background-color: rgb(0, 89, 255);
  color: #fff;
  border-radius: 30px;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.contacts-a {
  font-size: 24px;
  text-align: center;
  /* max-width: 372px; */
  margin-top: 70px;
  padding: 40px 40px;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 20px;
}

/* Footer  */

.footer {
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
}

.footer-list a {
  color: inherit;
  position: relative;
}

.footer-list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 89, 255);
}
